<title>Cornell Daily Sun Mobile Application</title>
<div class="splashHeader">
    <div>
        <a href="https://itunes.apple.com/us/app/cornell-daily-sun/id1375063933?mt=8”" id="appButton"><img src="../../assets/images/appPromo/app-store.svg"></a>
    </div>
</div>
<div class="blockOne">
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-2 col-sm-2 col-md-2">
            <img id="phoneImage" src="../../assets/images/appPromo/MainFeed@3x.png"></a>
        </div>
        <div class="col-auto col-sm-auto col-md-auto">
            <h2>Your favorite stories. Delivered to your device</h2>
        </div>
    </div>
</div>
</div>
<div class="blockTwo">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-9 col-sm-7 col-md-7">
                <h2>Bookmark stories to easily find them later.</h2>
            </div>
            <div class="col-auto col-sm-auto col-md-auto">
                <img src="../../assets/images/appPromo/Bookmarks@3x.png"></a>
            </div>
        </div>
    </div>
</div>
<div class="blockThree">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-2 col-sm-2 col-md-2">
                <img id="phoneImage" src="../../assets/images/appPromo/Notifications@3x.png"></a>
            </div>
            <div class="col-auto col-sm-auto col-md-auto">
                <h2>Customizable notifications. Never miss a story.</h2>
            </div>
        </div>
    </div>
</div>
<div class="footerHeader">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6 col-sm-6 col-md-6">
                <img id="handImage" src="../../assets/images/appPromo/hand_phone.png"></a>
            </div>
            <div class="col-auto col-sm-auto col-md-auto">
                <img id="getAppLogo" src="../../assets/images/appPromo/logo.jpg"></a>
                <a href="https://itunes.apple.com/us/app/cornell-daily-sun/id1375063933?mt=8”" id="appBottomButton"><img src="../../assets/images/appPromo/app-store.svg"></a>
            </div>
        </div>
    </div>
</div>